#video-background-1{
    position: absolute;   /* Rola com a página */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
    
    
}

.Menu{
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    transform-origin: center;
    font-family: 'Cocogoose', sans-serif;
    font-size: 22px;
    
}
.Menu:hover{
    transform: translateY(-2px) scale(1.06);
    background-color: rgba(255, 255, 255, 0.8); 
    color: #000;
    
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.30); 
    z-index: -1;
}

.Portugues{
    position: absolute;
    top: 150px;
    left: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    transform-origin: center;
}

.Portugues:hover{
    transform: translateY(-2px) scale(1.06);
    background-color: rgba(255, 255, 255, 0.8); 
    color: #000;
}


.Titulo_1{
    position: absolute;
    bottom: 450px;
    left: 300px;
    Font-family: 'Paper Noise', sans-serif;
    text-shadow: #000 1px 1px 25px;

    
}

.Matematica{
    position: absolute;
    top: 150px;
    left: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    transform-origin: center;
}

.Matematica:hover{
    transform: translateY(-2px) scale(1.06);
    background-color: rgba(255, 255, 255, 0.8); 
    color: #000;
}

.Titulo_2{
    position: absolute;
    bottom: 450px;
    left: 840px;
    Font-family: 'Paper Noise', sans-serif;
    text-shadow: #000 1px 1px 25px;
    
    
}

.Natureza{
    position: absolute;
    top: 150px;
    right: 330px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    transform-origin: center;
    
    
}
.Natureza:hover{
    transform: translateY(-2px) scale(1.06);
    background-color: rgba(255, 255, 255, 0.8); 
    color: #000;
}



.Titulo_3{
    position: absolute;
    bottom: 450px;
    right: 390px;
    Font-family: 'Paper Noise', sans-serif;
    text-shadow: #000 1px 1px 25px;
    
}

.Humanas{
    position: absolute;
    top: 540px;
    left:500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    transform-origin: center;
}
.Humanas:hover{
    transform: translateY(-2px) scale(1.06);
    background-color: rgba(255, 255, 255, 0.8); 
    color: #000;
}

.Titulo_4{
    position: absolute;
    bottom: 60px;
    left: 550px;
    Font-family: 'Paper Noise', sans-serif;
    text-shadow: #000 1px 1px 25px;
}

.Tecnico{
    position: absolute;
    top: 540px;
    left: 1100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    transform-origin: center;
}
.Tecnico:hover{
    transform: translateY(-2px) scale(1.06);
    background-color: rgba(255, 255, 255, 0.8); 
    color: #000;
}

.Titulo_5{
    position: absolute;
    bottom: 60px;
    left: 1175px;
    Font-family: 'Paper Noise', sans-serif;
    text-shadow: #000 1px 1px 25px;
}